source_up .envrc
export ENGINE_API_KEY={{ (index (lastpass "devenv/apollo") 0).note.apolloKey -}}
export APOLLO_KEY={{ (index (lastpass "devenv/apollo") 0).note.apolloKey -}}
export GRAPH_VARIANT=dev
export GITLAB_USER=argoyle
export CLUSTER_NAME=jocke
export GOPRIVATE=gitlab.com/unboundsoftware/shiny
export PATH=$PWD/.bin:/usr/local/opt/node@16/bin:${PATH}
export API_KEY='9FJ2XDL6DCeR6YO66v!RvHBpN7mJ1QoT'
export SCHEMA_REF=Shiny@dev
PATH_add ./bin
