source_up .envrc
export GITLAB_USER=henrikengman
export CLUSTER_NAME=jocke
export GOPRIVATE=gitlab.com/unboundsoftware/shiny
export API_KEY={{ (index (lastpass "devenv/schemas") 0).note.apiKey -}}
export SCHEMA_REF=Shiny@dev
PATH_add ./bin
