export AWS_REGION=eu-west-1
export AWS_DEFAULT_REGION=eu-west-1
export AWS_PROFILE=unbound

export GITHUB_TOKEN={{ (index (lastpass "devenv/.auths") 0).note.githubToken -}}
export GITLAB_TOKEN={{ (index (lastpass "devenv/.auths") 0).note.gitlabToken -}}
