{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "adoptopenjdk/openjdk"
tap "buildtool/taps"
tap "datawire/blackbird"
tap "derailed/k9s"
tap "derailed/popeye"
tap "drone/drone"
tap "github/gh"
tap "golangci/tap"
tap "goreleaser/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "johanhaleby/kubetail"
tap "knqyf263/trivy"
tap "ktr0731/evans"
tap "muesli/tap"
tap "reactiveops/tap"
tap "remind101/formulae"
tap "stripe/stripe-cli"
tap "tinygo-org/tools"
tap "wagoodman/dive"
tap "warrensbox/tap"
brew "act"
brew "adns"
brew "angband"
brew "jpeg"
brew "libpng"
brew "libtiff"
brew "webp"
brew "argocd"
brew "autoconf"
brew "automake"
brew "xz"
brew "awk", link: false
brew "gdbm"
brew "icu4c"
brew "libuv"
brew "openssl@1.1"
brew "readline"
brew "sqlite"
brew "node"
brew "aws-cdk"
brew "aws-iam-authenticator"
brew "awscli"
brew "azure-cli"
brew "bash"
brew "bash-completion"
brew "bash-git-prompt"
brew "bitwarden-cli"
brew "boost"
brew "freetype"
brew "gettext"
brew "libffi"
brew "pcre"
brew "glib"
brew "pkg-config"
brew "ccache"
brew "chezmoi"
brew "cmake"
brew "gmp"
brew "coreutils"
brew "cscope"
brew "libunistring"
brew "libidn2"
brew "rtmpdump"
brew "curl"
brew "direnv"
brew "docker-completion"
brew "libtool"
brew "libevent"
brew "libtasn1"
brew "nettle"
brew "p11-kit"
brew "gnutls"
brew "lame"
brew "little-cms2"
brew "sdl2"
brew "xvid"
brew "ffmpeg"
brew "findutils"
brew "firebase-cli"
brew "openjdk"
brew "flyway"
brew "gawk"
brew "geckodriver"
brew "gh"
brew "jbig2dec"
brew "ghostscript"
brew "git"
brew "git-cliff"
brew "git-delta"
brew "git-extras"
brew "git-flow"
brew "git-quick-stats"
brew "glew"
brew "go"
brew "glide"
brew "glow"
brew "gnu-getopt"
brew "gnu-sed"
brew "libgpg-error"
brew "libassuan"
brew "libgcrypt"
brew "libksba"
brew "libusb"
brew "npth"
brew "pinentry"
brew "gnupg"
brew "golang-migrate"
brew "sdl2_image"
brew "gource"
brew "gradle"
brew "graphviz"
brew "grep"
brew "gron"
brew "helm"
brew "hexyl"
brew "html2text"
brew "htmlcleaner"
brew "httpie"
brew "hub"
brew "imagemagick"
brew "jemalloc"
brew "oniguruma"
brew "jq"
brew "kcat"
brew "kind"
brew "kubernetes-cli"
brew "kops"
brew "lastpass-cli"
brew "unibilium"
brew "libtermkey"
brew "libvterm"
brew "libyaml"
brew "luajit"
brew "ruby"
brew "macvim"
brew "make"
brew "maven"
brew "maven-completion"
brew "mercurial"
brew "moreutils"
brew "msgpack"
brew "mysql"
brew "neovim"
brew "netcat"
brew "ninja"
brew "node@12"
brew "node@14"
brew "node@16"
brew "openconnect"
brew "p7zip"
brew "packer"
brew "packer-completion"
brew "pdftohtml"
brew "perl"
brew "pinentry-mac"
brew "pipx"
brew "png2ico"
brew "pulseaudio"
brew "pulumi"
brew "pyenv"
brew "pyenv-virtualenv"
brew "python@2", link: false
brew "robot-framework"
brew "ruby@2.7"
brew "sbt"
brew "scaffold"
brew "scala"
brew "scalariform"
brew "socat"
brew "sphinx-doc"
brew "ssh-copy-id", link: true
brew "stern"
brew "svtplay-dl"
brew "swagger-codegen"
brew "tig"
brew "tmux"
brew "torsocks"
brew "tree"
brew "unrar"
brew "vault"
brew "watch"
brew "watchman"
brew "wget"
brew "yamllint"
brew "yarn"
brew "zsh"
brew "zsh-completions"
brew "zsh-history-substring-search"
brew "zsh-syntax-highlighting"
brew "buildtool/taps/build-tools"
brew "derailed/k9s/k9s"
brew "derailed/popeye/popeye"
brew "drone/drone/drone"
brew "golangci/tap/golangci-lint"
brew "goreleaser/tap/goreleaser"
brew "johanhaleby/kubetail/kubetail"
brew "knqyf263/trivy/trivy"
brew "ktr0731/evans/evans"
brew "muesli/tap/duf"
brew "reactiveops/tap/polaris"
brew "remind101/formulae/assume-role"
brew "stripe/stripe-cli/stripe"
brew "tinygo-org/tools/tinygo"
brew "wagoodman/dive/dive"
brew "warrensbox/tap/tfswitch"
cask "1password"
cask "1password-cli"
cask "adoptopenjdk12"
cask "adoptopenjdk13"
cask "adoptopenjdk8"
cask "adoptopenjdk9"
cask "android-studio"
cask "arduino"
cask "authy"
cask "backblaze"
cask "balenaetcher"
cask "chromedriver"
cask "datagrip"
cask "docker"
cask "drawio"
cask "dropbox"
cask "firefox"
cask "font-inconsolata-for-powerline"
cask "font-jetbrains-mono-powerline"
cask "gimp"
cask "gitter"
cask "goland"
cask "google-chrome"
cask "google-cloud-sdk"
cask "google-drive"
cask "graphql-playground"
cask "ibackup-viewer"
cask "iina"
cask "insomnia"
cask "intellij-idea"
cask "iterm2-beta"
cask "java"
cask "keybase"
cask "microsoft-auto-update"
cask "microsoft-teams"
cask "mono-mdk"
cask "monodraw"
cask "mqtt-explorer"
cask "ngrok"
cask "postman"
cask "pycharm"
cask "robo-3t"
cask "shiftit"
cask "skype"
cask "slack"
cask "sonos"
cask "spotify"
cask "tibco-jaspersoft-studio"
cask "virtualbox"
cask "virtualbox-extension-pack"
cask "visual-studio-code"
cask "vlc-nightly"
cask "webstorm"
cask "wireshark"
cask "yed"
cask "zoom"
EOF
{{ end -}}
