export AWS_PROFILE=inteleon
export AWS_REGION=eu-central-1
export AWS_DEFAULT_REGION=eu-central-1
export VAULT_ADDR=https://vault.inteleon.io
export INTELEON_AWS_PEM="{{ .chezmoi.homeDir }}/.ssh/inteleon"
