source_up .envrc
export GOOGLE_APPLICATION_CREDENTIALS=$HOME/.config/gcloud/legacy_credentials/joakim.olsson@nectarinehealth.com/adc.json
export GOPRIVATE=github.com/AiflooAB
export KUBECONFIG=$( IFS=:; set -- ${PWD}/.kube/kind*.yaml ${PWD}/.kube/nectarine*.yaml; echo "$*" )
export API_URL=http://localhost:8080/query
