source_up .envrc
export GOOGLE_APPLICATION_CREDENTIALS=$HOME/.config/gcloud/legacy_credentials/joakim.olsson@nectarinehealth.com/adc.json
export GOPRIVATE=github.com/AiflooAB
export KUBECONFIG={{ .chezmoi.homeDir }}/.kube/config.d/nectarine-local.yaml:{{ .chezmoi.homeDir }}/.kube/config.d/nectarine-dev.yaml
export API_URL=http://localhost:8080/query
