source_up .envrc

export AWS_SHARED_CREDENTIALS_FILE=${PWD}/.aws/credentials
export AWS_CONFIG_FILE=${PWD}/.aws/config
export AWS_CONFIGURE_SSO_DEFAULT_SSO_START_URL=https://paidit.awsapps.com/start/
export AWS_CONFIGURE_SSO_DEFAULT_SSO_REGION=eu-west-1
export AWS_PROFILE=paidit
export AWS_REGION=eu-central-1
export AWS_DEFAULT_REGION=eu-central-1

export KOPS_STATE_STORE=s3://505676538145-eu-central-1-kops-storage
export KOPS_FEATURE_FLAGS=""
export CLUSTER_NAME=prod.paidit.se
export KUBECONFIG=$( IFS=:; set -- ${PWD}/.kube/kind*.yaml ${PWD}/.kube/*.yaml; echo "$*" )

export FIRESTORE_CREDENTIALS={{ .chezmoi.homeDir }}/Source/CustomerProjects/Paidit/paidit-stage-4bcbcd8faf22.json
export GOOGLE_APPLICATION_CREDENTIALS={{ .chezmoi.homeDir }}/Source/CustomerProjects/Paidit/paidit-stage-4bcbcd8faf22.json
export FIRESTORE_EMULATOR_HOST=0.0.0.0:8505

export AMQP_URL=amqp://user:password@localhost:5672/
export SENTRY_ENVIRONMENT=local

export CLIENT_URL=http://192.168.1.27:3002

export GOPRIVATE=gitlab.com/paidit-se
