source_up .envrc
export PORT=4082
export AUTH_URL=http://localhost:4080
export SERVICE=$(basename "$PWD")
export URL=http://localhost:${PORT}/query
export WS_URL=ws://localhost:${PORT}/query
export SENTRY_DSN={{ (index (lastpass "envconfig\\prod/sentry") 0).note.notificationService -}}
