cloudamqp_customer_api_key = "{{ (index (lastpassRaw "Shared-paiditenv/system/cloudamqp_api_key") 0).note -}}"
mongodbatlas_private_key   = {{ (index (lastpass "Shared-paiditenv/system/Mongo Atlas API Project") 0).note.password | trim | quote }}
mongodbatlas_public_key    = {{ (index (lastpass "Shared-paiditenv/system/Mongo Atlas API Project") 0).note.username | trim | quote }}
slack_ops_url              = {{ (index (lastpass "Shared-paiditenv/system/slack_webhook_url") 0).note.ops | trim | quote }}
docker_config              = <<EOT
{{ (index (lastpassRaw "Shared-paiditenv/system/dockercfg") 0).note }}
EOT
loki_api_key               = {{ (index (lastpass "Shared-paiditenv/system/grafana-cloud") 0).note.lokiApiKey | trim | quote }}
prometheus_api_key         = {{ (index (lastpass "Shared-paiditenv/system/grafana-cloud") 0).note.prometheusApiKey | trim | quote }}
