cloudamqp_customer_api_key = "{{ (index (lastpassRaw "Shared-paiditenv/system/cloudamqp_api_key") 0).note -}}"
mongodbatlas_private_key   = {{ (index (lastpass "Shared-paiditenv/system/Mongo Atlas API Project") 0).note.password | trim | quote }}
mongodbatlas_public_key    = {{ (index (lastpass "Shared-paiditenv/system/Mongo Atlas API Project") 0).note.username | trim | quote }}
slack_ops_url              = {{ (index (lastpass "Shared-paiditenv/system/slack_webhook_url") 0).note.ops | trim | quote }}
docker_config              = <<EOT
{{ (index (lastpassRaw "Shared-paiditenv/system/dockercfg") 0).note }}
EOT
loki_api_key               = {{ (index (lastpass "Shared-paiditenv/system/grafana-cloud") 0).note.lokiApiKey | trim | quote }}
prometheus_api_key         = {{ (index (lastpass "Shared-paiditenv/system/grafana-cloud") 0).note.prometheusApiKey | trim | quote }}
harbour_secret_prod = {
  API_KEY = "{{ (index (lastpassRaw "Shared-paiditenv/prod/harbour") 0).note -}}"
}
harbour_secret_demo = {
  API_KEY = "{{ (index (lastpassRaw "Shared-paiditenv/demo/harbour") 0).note -}}"
}
harbour_secret_stage = {
  API_KEY = "{{ (index (lastpassRaw "Shared-paiditenv/stage/harbour") 0).note -}}"
}
fortysixelks_password = {{ (index (lastpass "Shared-paiditenv/system/46elks") 0).note.password | trim | quote }}
stripe_prod = {
  STRIPE_PUBLIC_KEY = {{ (index (lastpass "Shared-paiditenv/system/stripe_prod") 0).note.clientId | trim | quote }}
  STRIPE_SECRET_KEY = {{ (index (lastpass "Shared-paiditenv/system/stripe_prod") 0).note.secret | trim | quote }}
  WEBHOOK_SECRET    = {{ (index (lastpass "Shared-paiditenv/system/stripe_prod") 0).note.webhookSecret | trim | quote }}
}
stripe_dev = {
  STRIPE_PUBLIC_KEY = {{ (index (lastpass "Shared-paiditenv/system/stripe_dev") 0).note.clientId | trim | quote }}
  STRIPE_SECRET_KEY = {{ (index (lastpass "Shared-paiditenv/system/stripe_dev") 0).note.secret | trim | quote }}
  WEBHOOK_SECRET    = {{ (index (lastpass "Shared-paiditenv/system/stripe_dev") 0).note.webhookSecret | trim | quote }}
}
firestore_prod  = <<EOT
{{ (index (lastpassRaw "Shared-paiditenv/prod/firestore") 0).note -}}
EOT
firestore_demo  = <<EOT
{{ (index (lastpassRaw "Shared-paiditenv/demo/firestore") 0).note -}}
EOT
firestore_stage = <<EOT
{{ (index (lastpassRaw "Shared-paiditenv/stage/firestore") 0).note -}}
EOT
swedbank_cert_prod = {
  pem   = <<EOT
{{ (index (lastpass "Shared-paiditenv/prod/swedbank") 0).note.publicKey | trim | replace "^^" "\n" -}}
EOT
  key   = <<EOT
{{ (index (lastpass "Shared-paiditenv/prod/swedbank") 0).note.privateKey | trim | replace "^^" "\n" -}}
EOT
  alias = {{ (index (lastpass "Shared-paiditenv/prod/swedbank") 0).note.hostname | trim | quote }}
}
feskarbritta_cert_prod = {
  pem   = <<EOT
{{ (index (lastpass "Shared-paiditenv/prod/feskarbritta") 0).note.publicKey | trim | replace "^^" "\n" -}}
EOT
  key   = <<EOT
{{ (index (lastpass "Shared-paiditenv/prod/feskarbritta") 0).note.privateKey | trim | replace "^^" "\n" -}}
EOT
  alias = {{ (index (lastpass "Shared-paiditenv/prod/feskarbritta") 0).note.hostname | trim | quote }}
}
swedbank_cert_demo = {
  pem   = <<EOT
{{ (index (lastpass "Shared-paiditenv/demo/swedbank") 0).note.publicKey | trim | replace "^^" "\n" -}}
EOT
  key   = <<EOT
{{ (index (lastpass "Shared-paiditenv/demo/swedbank") 0).note.privateKey | trim | replace "^^" "\n" -}}
EOT
  alias = {{ (index (lastpass "Shared-paiditenv/demo/swedbank") 0).note.hostname | trim | quote }}
}
feskarbritta_cert_demo = {
  pem   = <<EOT
{{ (index (lastpass "Shared-paiditenv/demo/feskarbritta") 0).note.publicKey | trim | replace "^^" "\n" -}}
EOT
  key   = <<EOT
{{ (index (lastpass "Shared-paiditenv/demo/feskarbritta") 0).note.privateKey | trim | replace "^^" "\n" -}}
EOT
  alias = {{ (index (lastpass "Shared-paiditenv/demo/feskarbritta") 0).note.hostname | trim | quote }}
}
swedbank_cert_stage = {
  pem   = <<EOT
{{ (index (lastpass "Shared-paiditenv/stage/swedbank") 0).note.publicKey | trim | replace "^^" "\n" -}}
EOT
  key   = <<EOT
{{ (index (lastpass "Shared-paiditenv/stage/swedbank") 0).note.privateKey | trim | replace "^^" "\n" -}}
EOT
  alias = {{ (index (lastpass "Shared-paiditenv/stage/swedbank") 0).note.hostname | trim | quote }}
}
feskarbritta_cert_stage = {
  pem   = <<EOT
{{ (index (lastpass "Shared-paiditenv/stage/feskarbritta") 0).note.publicKey | trim | replace "^^" "\n" -}}
EOT
  key   = <<EOT
{{ (index (lastpass "Shared-paiditenv/stage/feskarbritta") 0).note.privateKey | trim | replace "^^" "\n" -}}
EOT
  alias = {{ (index (lastpass "Shared-paiditenv/stage/feskarbritta") 0).note.hostname | trim | quote }}
}
infrasec_cert_prod = {
  ca         = <<EOT
{{ (index (lastpass "Shared-paiditenv/prod/infrasec") 0).note.publicKey | trim | replace "^^" "\n" -}}
EOT
  cert       = <<EOT
{{ (index (lastpass "Shared-paiditenv/prod/infrasec") 0).note.privateKey | trim | replace "^^" "\n" -}}
EOT
  passphrase = {{ (index (lastpass "Shared-paiditenv/prod/infrasec") 0).note.hostname | trim | quote }}
}
infrasec_cert_demo = {
  ca         = <<EOT
{{ (index (lastpass "Shared-paiditenv/demo/infrasec") 0).note.publicKey | trim | replace "^^" "\n" -}}
EOT
  cert       = <<EOT
{{ (index (lastpass "Shared-paiditenv/demo/infrasec") 0).note.privateKey | trim | replace "^^" "\n" -}}
EOT
  passphrase = {{ (index (lastpass "Shared-paiditenv/demo/infrasec") 0).note.hostname | trim | quote }}
}
infrasec_cert_stage = {
  ca         = <<EOT
{{ (index (lastpass "Shared-paiditenv/stage/infrasec") 0).note.publicKey | trim | replace "^^" "\n" -}}
EOT
  cert       = <<EOT
{{ (index (lastpass "Shared-paiditenv/stage/infrasec") 0).note.privateKey | trim | replace "^^" "\n" -}}
EOT
  passphrase = {{ (index (lastpass "Shared-paiditenv/stage/infrasec") 0).note.hostname | trim | quote }}
}
