export KOPS_STATE_STORE=s3://724902258495-eu-west-1-kops-storage
export KOPS_FEATURE_FLAGS="UseServiceAccountIAM"
export CI_TOKEN=${GITLAB_TOKEN}
export CI_BUILD_TOKEN=${GITLAB_TOKEN}
export NGROK_TOKEN={{ (index (lastpass "devenv/ngrok") 0).note.token -}}
export NGROK_REGION=eu
export NGROK_URL=https://usd.eu.ngrok.io
#export KUBECONFIG="$( set -- ${PWD}/.kube/*.yaml; b=();for x in $*; do [[ ${x} =~ 'kind' ]] && b=(${x} $b[@]) || b=($b[@] ${x}); done; set -- $b[*]; IFS=:; echo "$*" )"
export KUBECONFIG=$( IFS=:; set -- ${PWD}/.kube/kind*.yaml ${PWD}/.kube/*.yaml; echo "$*" )
