source_up .envrc

export AWS_SHARED_CREDENTIALS_FILE=${PWD}/.aws/credentials
export AWS_CONFIG_FILE=${PWD}/.aws/config
export AWS_CONFIGURE_SSO_DEFAULT_SSO_START_URL=https://smarteurope.awsapps.com/start/
export AWS_CONFIGURE_SSO_DEFAULT_SSO_REGION=eu-central-1
export AWS_DEFAULT_REGION=eu-central-1
export AWS_REGION=eu-central-1
export CONFLUENCE_API_KEY={{ (index (lastpass "smart/smart_env") 0).note.confluenceApiToken -}}
